<html>
    <head>
        <title>EAS-561 Robotics Project</title>
    </head>
    <body>
	  <img 
	  <h1> EAS-561 Robotics Project </h1>
	  <h2> Facial Emotion Recognition using Machine Learning </h3>
	  <h4> Following are the emotions that model can detect using your webcam below </h6>
	  <h4> Please click on any of emotion in the list below to look how people have shown these emotions </h4>  
	  <ul>
    		<li><a href="https://drive.google.com/drive/u/0/folders/1M7mxhEoku-4JeTuQgKjy5jY2fv6yDWie">   Happy        </a></li>
    		<li><a href='https://drive.google.com/drive/u/0/folders/1O5DfIPHm86BlEfXkQcExykswUQynRB7P'>   Sad          </a></li>
    		<li><a href='https://drive.google.com/drive/u/0/folders/15ixI9AuaAxXAeXH3Hy1TX5NrzXTRH6L_'>   Fear         </a></li>
		<li><a href="https://drive.google.com/drive/u/0/folders/1Bdb6bEt1NurrVU4JjQdAdj_7SttRtjHg">   Neutral      </a></li>
		<li><a href="https://drive.google.com/drive/u/0/folders/1fkjYWd7X0_w5DP-r6qm6a6GB9d5N5B7f">   Surprise     </a></li>	
		<li><a href="https://drive.google.com/drive/u/0/folders/1tt0eC5BEgLFqnVJv4x8hMveoyDy1ZAQa">   Disgust      </a></li>
		<li><a href ='https://drive.google.com/drive/u/0/folders/1xp9ueI6lNOoMNmYNYsO2Q1uExD5zU7pG'>Anger</a></li>
    	  </ul>
        <img id="bg" width="800px" height=540px src="{{ url_for('video_feed')}}">
    </body>
</html>



