<!DOCTYPE html>
<html>
    <head>
        <title>EAS-561 Robotics Project</title>
    </head>
    <body>
        <h1>EAS-561 Robotics Project</h1>
        <h2>Facial Emotion Recognition using Machine Learning</h2>
        <h4>Following are the emotions that the model can detect using your webcam below</h4>
        <h4>Please click on any of emotion in the list below to look how people have shown these emotions</h4>
        
        <ul>
            <li><a href="https://drive.google.com/drive/u/0/folders/1M7mxhEoku-4JeTuQgKjy5jY2fv6yDWie">Happy</a></li>
            <li><a href='https://drive.google.com/drive/u/0/folders/1O5DfIPHm86BlEfXkQcExykswUQynRB7P'>Sad</a></li>
            <li><a href='https://drive.google.com/drive/u/0/folders/15ixI9AuaAxXAeXH3Hy1TX5NrzXTRH6L_'>Fear</a></li>
            <li><a href="https://drive.google.com/drive/u/0/folders/1Bdb6bEt1NurrVU4JjQdAdj_7SttRtjHg">Neutral</a></li>
            <li><a href="https://drive.google.com/drive/u/0/folders/1fkjYWd7X0_w5DP-r6qm6a6GB9d5N5B7f">Surprise</a></li>
            <li><a href="https://drive.google.com/drive/u/0/folders/1tt0eC5BEgLFqnVJv4x8hMveoyDy1ZAQa">Disgust</a></li>
            <li><a href ='https://drive.google.com/drive/u/0/folders/1xp9ueI6lNOoMNmYNYsO2Q1uExD5zU7pG'>Anger</a></li>
        </ul>

        <!-- Webcam button and video element -->
        <button id="startButton">Start Webcam</button>
        <video id="videoElement" autoplay></video>

        <!-- JavaScript to start webcam -->
        <script>
            document.getElementById('startButton').addEventListener('click', function() {
                if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                    navigator.mediaDevices.getUserMedia({ video: true }).then(function(stream) {
                        var video = document.getElementById('videoElement');
                        video.srcObject = stream;
                        video.play();
                    });
                }
            });
        </script>

    </body>
</html>
